html {
      scroll-behavior: smooth;
      display: block;
}

body{
      background-color: #000000;
      font-family: 'Roboto', sans-serif;
}

.main-container{
      display: flex;
      flex-direction: column;
}

.single-container{
      width: 420px;
      margin: 20px;
      display: block;
      padding-left: 35px;
      padding-right: 15px;
      padding-top: 15px;
      border-style: outset;
      border-color: #15a6b9;
      background-image: url(./images/5305323.jpg);
      /* background-image: url(./images/bgwood.jpg); */
}

.views-label{
      padding: 5px 10px;
      color: #ffffff;
      float: right;
      background-color: #000000;
      border-radius: 18px;
      margin-top: 15px;
      margin-right: 10px;
}

.profile-pic-div{
      max-width: 400px;
      margin-top: 150px;
      border-radius: 8px;
}

.profile-pic-img{
      margin-top: 5px;
      max-width: 400px;
      border-radius: 8px;
      border: 2px solid #ffffff;
}

.customer-name{
      font-size:large;
      font-style: italic;
      color: #000000;
}

.contact-buttons {
      margin: 0 -20px;
      padding: 20px 20px;
}

.contact-button {
    padding: 6px 10px;
    border-radius: 50px;
    min-width: 70px;
    display: inline-block;
    font-size: 12px;
    box-shadow: 0 1px 4px rgb(0 0 0 / 20%), 0 0 40px rgb(255 251 251 / 10%) inset;
    text-align: center;
    background-color: #000000;
    color: #fff;
    border: none;
    margin-right: 5px;
    margin-bottom: 10px;
}

.contact-button:hover, .views-label:hover{
      background-color:#15a6b9;
}
a{
      text-decoration: none;
}

.contact-description-container-text{
      font-size: 15px;
      color: #708f85;
      font-weight: bolder;
}

.whatsapp-container{
      padding-top: 20px;
      display: flex;
      justify-content: space-between;
      max-width: 400px;
}

.input-textbox{
      padding: 6px 10px;
      font-size: 15px;
      border-radius: 7px;
}

.share-on-whatsapp-button{
      padding: 8px 8px 6px 8px;
      min-width: 70px;
      font-size: 15px;
      display: inline-block;
      background-color: #51B14D;
      border-radius: 7px;
      color: white;
      border: 1px solid #ffffff;
}
.share-on-whatsapp-button:hover{
      background-color:#08e2ff;
      color: #000000;
      border: 1px solid #08e2ff;
}

.shadow-buttons-container {
      display: flex;
      flex-direction: row;
      margin-top: 10px;
  }

.shadow-button{
      padding: 10px;
    min-width: 185px;
    margin-right: 5px;
    background-color: #15a6b9;
    color:#ffffff;
    font-size: 18px;
    border: 2px solid #ffffff;
    text-align: center;
    border-radius: 10px;
}
.shadow-button:hover{
    background-color: #15b946;
    color:#000000;
}

.add-to-phnebook-container{
      padding: 10px;
    max-width: 400px;
    margin-top: 8px;
    margin-right: 5px;
    background-color: #15a6b9;
    color:#ffffff;
    font-size: 18px;
    border-bottom: 4px solid #000000;
    text-align: center;
    margin-left: 1px;
    border-radius: 10px;
}
.shadow-button-2:hover{
      background-color: #15b946;
}
.add-to-phnebook-container:hover{
      background-color: #15b946;
      color:#ffffff;
}

.shadow-button-icon{
      margin-right: 10px;
}

.share-buttons-container {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      padding: 0;
      padding: 0;
      margin-top: 15px 15px 0 0;
      float: right;
  }

.share-buttons-container .share-button {
      height: 25px;
      width: 25px;
      background-color: #000000;
      margin: 5px;
      border-radius: 10px;
}

.share-buttons-container .share-button i{
      padding: 4px;
      color: #ffffff;
}
.video-container{
      margin-left: -15px;
      margin-bottom: 15px;
}
.card{
      width: 400px;
      height: 150px;
}
.heading h2{
      color: #0d02a8;
}




.about-us-table{
      max-width: 400px;
}

.payment-info h4{
      color: #0d02a8;
}
.table-row-label{
      margin: -5px;
}

.table-row-label-text{
      font-size: 18px;
      margin: 8px;
}

.table-row-value{
      font-size: 16px;
}


@media screen and (max-width: 768px) {
      .single-container{
            width: 620px;
            margin: 20px;
            display: block;
            padding-left: 35px;
            padding-right: 15px;
            padding-top: 15px;
            border-style: outset;
            border-color: #15a6b9;
            align-self: center;
      }

      .profile-pic-div{
            max-width: 620px;
            margin-top: 150px;
            border-radius: 8px;
      }
      
      .profile-pic-img{
            margin-top: 5px;
            max-width: 600px;
            border-radius: 8px;
            border: 2px solid #ffffff;
      }

      .firname{
            font-size: 18px;
      }

      .customer-name{
            font-size:18px;
      }

      .contact-button {
            width: 120px;
            font-size: 18px;
      }

      .contact-description-container-text{
            font-size: 15px;
            color: #708f85;
            font-weight: bolder;
      }

      .video-container{
            display: flex;
            flex-wrap: wrap;
      }

      .card{
            width: 30%;
            box-sizing: border-box;
            margin: 5px;
      }

      .contact-description-container-text{
            font-size: 20px;
      }

      .whatsapp-container{
            width: 700px;
      }

      .input-textbox{
            padding: 6px 10px;
            font-size: 20px;
            border-radius: 7px;
      }
      
      .share-on-whatsapp-button{
            padding: 8px 8px 6px 8px;
            width: 150px;
            font-size: 20px;
            display: inline-block;
            background-color: #51B14D;
            border-radius: 7px;
            color: white;
            border: 1px solid #ffffff;
      }
}
    